[Unit]
Description=Mount device automatically

[Service]
ExecStart=/usr/local/share/usbwatcher.py
Restart=always
Type=forking
PIDFile=/var/run/usbwatcher.pid
User=root

[Install]
WantedBy=multi-user.target
